<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for question in questions %}
        <div>
            <p>Название вопроса: {{question.question_title}}</p>
            <p>Текст вопроса: {{question.question_text}}</p>
            <div>
                <form action="{% url 'submit_answer' %}" method="post">
                    {% csrf_token %}
                    <label>
                        <input type="checkbox">
                        {{question.answer1}}
                    </label>
                    <label>
                        <input type="checkbox">
                        {{question.answer2}}
                    </label>
                    <label>
                        <input type="checkbox">
                        {{question.answer3}}
                    </label>
                    <label>
                        <input type="checkbox">
                        {{question.answer4}}
                    </label>
                    <input type="submit" value="Отправить">
                </form>


            </div>
        </div>
    {% endfor %}
</body>
</html>